
<div class="center hero-unit">
  <h1>FMEA Module</h1>
  <p>This is the home page for the Design for Quality FMEA application</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>

</div>


